<html>
<body>
    <h2>Counter</h2>
    <p><%=counter%> times</p>

    <form action="/count">
    <button >Count</button>
    </form>

    <form action="/reset">
    <button >Reset</button>
    </form>
    
</body>
</html>

